/* Wire Frame: TODO delete later*/

/* Reset */
body {
    margin: 0;
    padding: 0;

}

/* Element Selectors  */
body {
    display: flex;
    flex-direction: column;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 100vh;
}


img {
    width: 100%;
}

header {
    background: url('./../images/Header\ Background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white
}

.navlinks {
    color: white;
    justify-content: space-between;
}

header,
main,
footer {
    padding: 1.5rem;
    border: 1px solid navy;
}

main {
    flex-grow: 1;
    scroll-behavior: smooth;
}





/* Classes */
.mt- {
    margin-top: 0.75rem;
}

.pt {
    padding-top: 1.5rem;
}

.challenge-1 {
    width: 25%;
}

.contact {
    margin-top: 50px;

}

.explanation {
    flex-wrap: wrap;
}

.profile {
    width: 25%;
}

.github-logo {
    width: 5%
}

.about {
    justify-content: right;
}

/* How do i add a background color to everything but the header? */