/* Wire Frame: TODO delete later*/

/* Reset */
body {
    margin: 0;
    padding: 0;
    background-color: silver;

}

/* Element Selectors  */
body {
    display: flex;
    flex-direction: column;
    font-family: fantasy;
    height: 100vh;
}


img {
    width: 100%;
}

/* Make header a solid color or gradient. Black is good. */
header {
    background: url('./../images/Header\ Background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white
}

.navlinks {
    color: white;
    justify-content: space-between;
    display: flex;
}

header,
main,
footer {
    padding: 1.5rem;
    border: 1px solid navy;
}

main {
    flex-grow: 1;
    scroll-behavior: smooth;
}






/* Classes */
.mt- {
    margin-top: 0.75rem;
}

.pt {
    padding-top: 1.5rem;
}

.challenge-1 {
    width: 25%;
}

.contact {
    margin-top: 50px;

}

.explanation {
    flex-wrap: wrap;
}

.profile {
    width: 15%;
}

.github-logo {
    width: 5%
}

.about {
    display: flex;
    gap: 1rem;
}

.link {
    margin: 0 1rem;
    color: white;
    text-decoration: none;
}

.github-logo:hover {
    background-color: #3892;
    color: white;
    box-shadow: 24px;
}